@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  position: relative;
}

html {
  overflow-x: hidden !important;
}
body {
  background-color: #f4ebe3;
  overflow-x: hidden;
}

header nav:nth-of-type(1) {
  display: flex;
  width: 100%;
  background-color: var(--color-background);
  align-items: center;
  padding: 1rem;
  background-color: white;
}
header nav:nth-of-type(1) a {
  width: 8rem;
  display: block;
}

header nav:nth-of-type(1) ul {
  display: flex;
  margin-left: auto;
  gap: 0.5rem;
}

header nav:nth-of-type(1) ul li button {
  width: 2rem;
  border: none;
  display: flex;
  align-items: center;
}
header nav:nth-of-type(1) ul li button  {
  border-radius: 30px;
  padding: 0.2rem;
}

header nav:nth-of-type(1) ul li:nth-of-type(1) button {
  background-color: #f4ebe3;
}
header nav:nth-of-type(1) ul li:nth-of-type(2) button {
  background-color: #ac182d;
}
header nav:nth-of-type(1) ul li button svg {
  padding: 0.2rem;
  border-radius: 30px;
}
header nav:nth-of-type(1) ul li:nth-of-type(2) button svg {
  fill: white;
  border: solid 1px var(--color-background);
}

header nav:nth-of-type(1) ul li button:focus {
  border: solid .2rem hotpink;
}
header nav:nth-of-type(1) ul li:nth-of-type(1) button svg {
  fill: var(--color-gold);
}
header nav:nth-of-type(1) > button {
  width: 2rem;
  aspect-ratio: 1/1;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  background-color: transparent;
  border: none;
}
header nav:nth-of-type(1) > button span {
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: black;
  border-radius: 1rem;
}

header nav:nth-of-type(2) {
  width: 100vw;
  height: 90vh;
  background-color: white;
  transform: translateX(100vw);
  transition: 0.5s;
  position: absolute;
}
header nav:nth-of-type(2).open {
  transform: translateX(0);
}

header nav:nth-of-type(2) ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header nav:nth-of-type(2) ul li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
}
header nav:nth-of-type(2) ul li a {
  text-decoration: none;
  color: #111;
}
header nav:nth-of-type(2) ul > li > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main {
  padding-left: 2rem;
  padding-right: 2rem;
}
h1 {
  text-align: center;
}
h2 {
  margin: 3rem;
  text-align: center;
}

main section:nth-of-type(1) {
  display: grid;
  grid-template-rows: 1fr .1fr auto auto auto;
  gap: 1rem;
}

main section:nth-of-type(1) h1 {
align-self: center;
}
/* Met uitleg hulp van studenten assitente */
main section:nth-of-type(1) figure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

button {
  background-color: #dedede;
}

button:hover {
  background-color: #aaa;
}
main section:nth-of-type(1) figure img {
  display: block;
}
main section:nth-of-type(1) ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main section:nth-of-type(1) a {
  background-color: #996605;
  border-radius: 8rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
  width: max-content;
 
} 

  

main section:nth-of-type(2) li {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: white;
  border-radius: 3rem;
  overflow: hidden;
}

main section:nth-of-type(2) li h3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

main section:nth-of-type(2) li p {
  margin-left: 1rem;
  margin-right: 1rem;
}

main section:nth-of-type(2) li a {
  background-color: #996605;
  border-radius: 8rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
  width: max-content;
  margin-left: 1rem;
  margin-right: 1rem;
}

main section:nth-of-type(2) ul {
  display: flex;
  overflow: scroll;
  gap: 3rem;
}
main section:nth-of-type(2) ul li {
  width: 20rem;
  flex-shrink: 0;
}

main section:nth-of-type(2) ul li img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

/* main section:nth-of-type(2) li img {
border-radius: 3rem 3rem 0 0;
  } */

main section:nth-of-type(3) p {
  margin: 2rem;
}
main section:nth-of-type(3) li a {
  background-color: #996605;
  border-radius: 8rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
  width: max-content;
  margin-left: 1rem;
  margin-right: 1rem;
}
main section:nth-of-type(3) li p {
  margin-left: 1rem;
  margin-right: 1rem;
}
main section:nth-of-type(3) li u {
  display: flex;
  flex-direction: column;
}
main section:nth-of-type(3) li {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: white;
  border-radius: 3rem;
  overflow: hidden;
}

main section:nth-of-type(3) li h3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
main section:nth-of-type(3) ul {
  display: flex;
  overflow: scroll;
  gap: 3rem;
}
main section:nth-of-type(3) ul li {
  width: 20rem;
  flex-shrink: 0;
}

main section:nth-of-type(3) ul li img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}
main section:nth-of-type(4) ul li {
  margin: 1rem;
  padding: 1rem;
}

main section:nth-of-type(4) {
  background: white;
  padding: 1rem;
  border-radius: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

main section:nth-of-type(5) form {
display: flex;
flex-direction: column;
background-color: #ac182d;
color: white;
padding: 1rem;
margin-bottom: 1rem;
}


footer {
  background-color: white;
}
summary {
  list-style: none;
  background-color: white;
  padding-left: 2rem;
  display: flex;
  max-width: 30rem;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: #ac182d;
  border: none;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

summary::marker {
  display: none;
}
footer section:nth-of-type(1) ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

footer section:nth-of-type(1) details ul li {
  margin-top: 1em;
  padding-left: 2rem;
}
footer a {
  text-decoration: none;
  color: black;
}

footer section:nth-of-type(2) details ul li {
  margin-top: 1em;
  padding-left: 2rem;
}

footer section:nth-of-type(3) details ul li {
  margin-top: 1em;
  padding-left: 2rem;
}

footer section:nth-of-type(4) details ul li {
  margin-top: 1em;
  padding-left: 2rem;
}

footer section:nth-of-type(5) ul li {
  margin-top: 1em;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
  --color-gold: #996605;
  --picture-font: 'Alegreya';
  --color-beige: #fcf5ed;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

/* body[data-pagina="pagina-3"]{
  background-color: red;
} */

.eftelingkerst section:nth-of-type(1) h1 {
position:absolute;
left:1rem;
right:1rem;
padding-top: 4rem;
color: white;
}

.eftelingkerst {
  width: 100%;
  padding: 0;
}

.eftelingkerst section:nth-of-type(1){
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eftelingkerst section:nth-of-type(1) h1 {
  padding:0;
}

.eftelingkerst section:nth-of-type(2) p {
  padding:2rem;
  margin: 1rem;
  
  }
  
  .eftelingkerst section:nth-of-type(2) a {
   display: flex;
   align-items: center;
   justify-content: center;
    text-align: center;
    width: 10rem;
    margin: 0 auto;
    background-color: #ac182d;
    color: white;
    border-radius: 3rem;
    padding: 1rem;
    text-decoration: none;
    position: relative;
    }
  /* Met uitleg hulp van Ali om een wit randje om de knop te doen*/
.eftelingkerst section:nth-of-type(2) a::before {
  content: "";
  width: 90%;
  border: solid .1rem white;
  position: absolute;
  padding: 1rem 0;
  border-radius: 3rem;
}

.eftelingkerst section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}
.eftelingkerst section:nth-of-type(3) article  {
background-color: white;
margin: 2rem;
padding: 2rem;
text-align: center;

}

.eftelingkerst section:nth-of-type(3) a {
  display: flex;
  align-items: center;
  justify-content: center;
   text-align: center;
   width: 10rem;
   margin: 0 auto;
   background-color: #ac182d;
   color: white;
   border-radius: 3rem;
   padding: 1rem;
   text-decoration: none;
   position: relative;
   }
 /* Met uitleg hulp van Ali om een wit randje om de knop te doen*/
.eftelingkerst section:nth-of-type(3) a::before {
 content: "";
 width: 90%;
 border: solid .1rem white;
 position: absolute;
 padding: 1rem 0;
  border-radius: 3rem;
}

/* Met uitleg hulp van Ronald (heeft mij de basis helpen uitleggen)*/
.eftelingkerst section:nth-of-type(4)  {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, auto);
gap: 1rem;

}
/* Met uitleg hulp van Ronald (heeft mij de basis helpen uitleggen)*/
.eftelingkerst section:nth-of-type(4) img:nth-of-type(1) {
grid-column: 1/3;
}
  
  .eftelingkerst section:nth-of-type(5) {
    position: relative;
  }

  .eftelingkerst section:nth-of-type(5) div {
    position: absolute;
    inset: 0;
    margin: 0 auto;
    padding: 1rem;
    font-family: var(--picture-font);
    text-align: center;
    color: var(--color-background);
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .eftelingkerst section:nth-of-type(5) div h3 {
    font-size: 2.5rem;
  }
  .eftelingkerst section:nth-of-type(5)::before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
  }

  .eftelingkerst section:nth-of-type(5) div a {
    display: block;
    margin-top: 1rem;
    border: solid var(--color-background) .1rem;
    border-radius: .5rem;
    padding: .5rem;
    width: fit-content;
    color: var(--color-background);
    text-decoration: none;
    margin: 1rem auto;
  }


/* MARK: STATES
 */
  :focus {
    outline: none;
    animation: focusAni .5s infinite alternate; 
  }
/* Met uitleg hulp van Ali */
  @keyframes focusAni {
    from {
      border: solid .2rem red;
    } to {
      border: solid .2rem rgba(255, 0, 0, 0.463);
    }
  }