/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


  
  body {
	background-color:#f4ebe3 ;
  }
  footer{
	background-color: white;
  }
  a {
	background-color: #9c6914;
	padding: 15px;
	border-radius: 1rem;
  }